<nav>
  <div class="nav-wrapper light-blue darken-3">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down left">
      <li><a href="/"><%= name %></a></li>
      <li><i class="material-icons">keyboard_arrow_right</i></li>
      <li><a href="#"><%= title %></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/"><%= name %></a></li>
  <li class="center"><i class="material-icons">keyboard_arrow_down</i></li>
  <li><a href="#"><%= title %></a></li>
</ul>