#server-item {
  margin-bottom: 0;
}

nav ul a {
  font-size: 1.2rem;
}

#navbar {
  padding-left: 12px;
  max-height: 56px;
  overflow: hidden;
}

#slide-out {
  top: 64px;
  color: white;
}

#slide-out a {
  color: white;
}

.nav-header {
  padding: 20px 10px 10px 25px;
}

.nav-header h5 {
  overflow-wrap: break-word;
  margin-top: 0;
}

.nav-header img {
  margin-left: 5px;
  width: 64px;
  height: 64px;
}

#sidebar-menu {
  margin: 10px;
}

.right.waves-effect.waves-light.btn {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

.hoverable {
  transition: .2s transform;
}

.hoverable:hover {
  transform: scale(1.02);
}

.nowplaying {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}