<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title><%= title %></title>
</head>
<body class="grey darken-3 white-text">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="row">
    <div class="col s12">
      <div class="container">
        <br>
        <h2 class="center"><%= title %></h2>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  <% include ../partials/footer %>
</body>
</html>